body{
    background: rgb(36, 35, 35);
    color: rgb(219, 197, 1);
    align-content: center;
    text-align: center;
    overflow: scroll;
}
.translate{
    position: relative;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    max-width: 80vw;
    overflow: hidden;
    margin-top: 70px;
}
.heading{
    margin-top: 0px;
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 0em;
}
.satyalok::before{
    content: "-सत्यलोक-";
}
.satyalok::after{
    content: "Satyalok";
    text-decoration: underline;
}
.bottom{
    text-align: center;
}
.made::before{
    content: "Made With ❤️ In India";
}
.made{
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link{
    text-decoration: none;
    text-decoration: underline;
    color: rgb(219, 1, 1);
}

.quote{
    text-align: center;
}
.back{
    text-align: center;
    position: fixed;
    max-width: 60px;
    top: 60px;
    left: 30px;
}

.banner{
    text-align: center;
    line-height: 0em;
    border: rgb(219, 197, 1) 2px solid;
    margin: auto;
    border-image-outset: 10px;
    width: 75vw;
    max-width: 40em;
}
.bantxt{
    text-align: center;
    font-family: monospace;
}
.sametxt{
    line-height: 0.1em;
    font-family: monospace;
    text-align: center;
}
.avatar{
    border-radius: 50%;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: rgb(219, 197, 1) 3px solid;
}
iframe{
    width: 80%;
    max-width: 500px;
    height: auto;
}
.mp3{
    color: rgb(219, 197, 1) ;
    font-weight: 800;
    margin: auto;
    line-height: 0.1em;
    text-align: center;
    max-width: 500px;
    border-radius: 5px;
}
