body{
    background: rgb(0, 0, 0);
    color: rgb(219, 197, 1);
    margin: 50px;
    margin-top: 0;
    align-content: center;
    text-align: center;
}
.heading{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 0em;
}
.india{
    width: 60vw;
    max-width: 500px;
}
.music{
    
}
.bottom{
    margin: auto;
    background: black;
    font-weight: 600;
}.made{
    font-weight: 300;
}
.made::before{
    content: "Made With ❤️ In India";
    color: rgb(219, 197, 1);
}
.link{
    text-decoration: none;
    background: rgb(219, 197, 1);
    border-radius: 20px;
    padding: 5px 8px;
    color: black;
}
.content{
    margin-top: 2em;
    margin: auto;
    width: 80vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pic{
    position: fixed;
    width: 50vw;
    left: 0em;
    bottom: 10px;
}
.back{
    position: sticky;
    margin: auto;
    text-align: center;
    line-height: 2em;
}
.content{
    text-align: center;
}